In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/USER/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [68]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
df.shape

(60943, 12)

In [25]:
country = df['Area'].unique()
num_country = len(set(country))
num_country

49

In [85]:
df['Y2017'].describe() #2dp

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [42]:
Y2017_min = df.groupby('Area')['Y2017'].min()
Y2017_max = df.groupby('Area')['Y2017'].max()

In [44]:
Y2017_min

Area
Algeria                         -81.0
Angola                         -250.0
Benin                          -125.0
Botswana                        -38.0
Burkina Faso                   -281.0
Cabo Verde                       -7.0
Cameroon                       -147.0
Central African Republic         -1.0
Chad                            -37.0
Comoros                           0.0
Congo                            -4.0
CÃ´te d'Ivoire                  -244.0
Djibouti                         -2.0
Egypt                         -1582.0
Eswatini                       -100.0
Ethiopia                       -792.0
Ethiopia PDR                      0.0
Gabon                           -37.0
Gambia                           -2.0
Ghana                          -121.0
Guinea                         -108.0
Guinea-Bissau                    -3.0
Kenya                          -186.0
Lesotho                          -4.0
Liberia                         -19.0
Madagascar                     -324.0
Malawi                          -50.0
Mali                           -600.0
Mauritania                       -1.0
Mauritius                       -25.0
Morocco                        -229.0
Mozambique                    -1200.0
Namibia                         -35.0
Niger                          -682.0
Nigeria                        -694.0
Rwanda                         -631.0
Sao Tome and Principe             0.0
Senegal                         -68.0
Seychelles                        0.0
Sierra Leone                   -180.0
South Africa                   -144.0
Sudan                          -819.0
Sudan (former)                    0.0
Togo                            -32.0
Tunisia                        -186.0
Uganda                         -180.0
United Republic of Tanzania    -865.0
Zambia                          -42.0
Zimbabwe                       -521.0
Name: Y2017, dtype: float64

In [40]:
Y2017_max

Area
Algeria                         41389.00
Angola                          29817.00
Benin                           11175.00
Botswana                         2341.00
Burkina Faso                    19193.00
Cabo Verde                       2530.00
Cameroon                        24566.00
Central African Republic         4596.00
Chad                            15017.00
Comoros                            16.65
Congo                            5111.00
CÃ´te d'Ivoire                   24437.00
Djibouti                         2664.00
Egypt                           96443.00
Eswatini                         5553.00
Ethiopia                       106400.00
Ethiopia PDR                        0.00
Gabon                            2640.00
Gambia                           2544.00
Ghana                           29121.00
Guinea                          12068.00
Guinea-Bissau                    2233.00
Kenya                           50221.00
Lesotho                          2475.00
Liberia                          4702.00
Madagascar                      25571.00
Malawi                          17670.00
Mali                            18512.00
Mauritania                      51864.00
Mauritius                        3713.00
Morocco                         38348.00
Mozambique                      28649.00
Namibia                          2465.00
Niger                           21602.00
Nigeria                        190873.00
Rwanda                          11981.00
Sao Tome and Principe            2407.00
Senegal                         15419.00
Seychelles                        204.02
Sierra Leone                     7488.00
South Africa                    57010.00
Sudan                           40813.00
Sudan (former)                      0.00
Togo                             7698.00
Tunisia                         11433.00
Uganda                          41167.00
United Republic of Tanzania     54660.00
Zambia                          16854.00
Zimbabwe                        14237.00
Name: Y2017, dtype: float64

In [73]:
Processing_sum = df.groupby('Element')['Y2017'].sum()
Processing_sum

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [55]:
highest_sum = df.groupby('Element')[].sum()
highest_sum.sum()

Area Code                                                 8182547
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                               163764610
Item            PopulationCereals - Excluding BeerWheat and pr...
Element Code                                            232488797
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                  7965086.13
Y2015                                                  8032340.23
Y2016                                                  8112472.65
Y2017                                                  8375729.19
Y2018                                                  8554629.96
dtype: object

In [65]:
# df['Y2014'].corr()

TypeError: Series.corr() missing 1 required positional argument: 'other'

In [71]:
df.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [81]:
protein_supply = df.groupby('Element',)['Y2015'].sum()
protein_supply

Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64